# DATABASE_URL=postgres://postgres:postgres@localhost:5432/os-dev
DATABASE_URL=sqlite:os-dev.db

PUBLIC_OS_OIDC_API_URL=http://localhost:3000/oidc/api
PUBLIC_OS_OIDC_ADMIN_API_URL=http://localhost:3000/oidc-admin/api