PUBLIC_OS_SERVICE_DISCOVERY_BASE_URL=http://localhost:3000
PUBLIC_URL=http://localhost:5174/oidc-admin
PUBLIC_OS_OIDC_ADMIN_CLIENT_ID=urn:os:oidc:client:019bc149-95f6-7031-91b7-fd2786d9d290
PUBLIC_OS_OIDC_APPLICATION_URN=urn:os:oidc:application:019bc13f-742f-7c9c-9a14-f3b0bdf8352e
VITE_BASE_PATH=/oidc-admin